<!-- 動画再生 -->
<div class="container">
  <div class="row">
	<div class="main col-md-12 col-lg-12">
	  <h2>It is a video of easy usage!</h2>
	  <br>
	  <h3>Please push the "play button" in the lower right.</h3>
	  <br>
	  <h4>When you're done, sign up to start.</h4>
	</div>
    <div class="main col-md-12 col-lg-12">
	  <%= video_tag("/assets/videos/video.mp4", :controls => true, style: "width:100%;") %>
	</div>
</div>
