<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>Image</th>
			<th>Post</th>
			<th></th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @books.each do |book| %>
		<tr>
			<td>
				<%= link_to(book.user) do %>
				<%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
				<% end %>
			</td>
			<td><%= link_to book.body, book, class: "book_#{book.id}" %></td>
			<td><%= link_to "Show", user_path(book) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
