/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/
@import 'font-awesome-sprockets';
@import 'font-awesome';
// @import "slick-theme";
// @import "slick";

body {
	a:link {color:black; text-decoration:none }
	a:visited { color:black; text-decoration:none }
	a:hover { color:rgb(255, 136, 0); text-decoration:none }
    background-image :image-url("rocky-wall.png");
	opacity: 1.2;
	position: relative;
}

//slick
.s{
	height: 500px;
	width :100%;
}

.slick-dots {
	li {
	  font-size: 20px !important;
	  button:before {
		content: "★" !important;
		font-size: 14px !important;
		color: rgb(60, 60, 60) !important;
	  }
	}
  }

.opinion {
	word-break: break-all; //投稿記事に対する文の改行
	width: 40%;
}

.book_comment {
	word-break: break-all;  //投稿記事に対する文の改行
	width: 40%;
	max-width: 300px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user_book_comment {
	word-break: break-all;  //投稿記事に対する文の改行
	width: 40%;
}

.actions {
	margin-top:10px;
}

.tab li {
	margin: 0 10px -1px 0;
	padding: 10px 20px;
	list-style: none;
}

input[type="password"] { //deviseのフォームの幅調整
	width: 280px;
	height: 30px;
}

input[type="email"] {  //deviseのフォームの幅調整
	width: 280px;
	height: 30px;
}

.navbar {
	color:white;
}

.navbar-nav {
    margin: 7.5px 30px;
}

#navbar a.selected {  //ナビバーのリンク時の色調整
	background-color:rgb(204, 207, 207);
	text-decoration: none;
}
#navber a:visited {
	text-decoration: none;
}
.main-visual {  //検索フォーム下の画像
    width: 100%;
    height: 350px;
	background-size:cover;
	background-position: center left;
	background-image: image-url("header5.png");
	position: relative;
}

.form { //検索フォーム
	position: absolute;
	top: 50%;
	font-size: 20px;
	color:black;
	right:5px;
}

.user_ranking {
	text-align: center;
	background-color:black;
	width: 100%;
	height: 50px;
	line-height: 50px;
    color:whitesmoke;
}

.book_ranking{
	text-align: center;
	background-color:black;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color:whitesmoke;
}

//kaminari
	//ページネーション自体のデザイン
	.pagination>li>a {
		border: none;   //枠線をなくす
		color:forestgreen;
	}

	//表示しているページ番号のデザイン
	.pagination>.active>a {
		background:forestgreen;
		border-radius: 15px;  //角を丸くする
	}

	//ホバー時のデザイン
	.pagination>li>a:hover {
		border-radius: 15px;  //角を丸くする
	}

//本のイメージ画像
img.attachment.book.image {
	object-fit: contain;
	width: 100px;
	height: 130px;
}

//Userのイメージ画像
img.attachment.user.profile_image {
	object-fit: contain;
	width: 100px;
	height: 130px;
}

//Userのプロフィールイメージ画像
img.attachment.user.profile_image.profile {
	object-fit: contain;
	width: 100px;
	height: 130px;
}

// footer{  //検索フォーム下の画像
//     width: 100%;
//     height: 70px;
// 	background-size:cover;
// 	background-position: center;
// 	position: relative;
// }

@media screen and (max-width: 481px) {
	.display1{display: none;}
	.display2{display: none;}
	.book_comment{
		display: block;
		width: 100px;
		height: 150px;
		overflow: hidden;
	}
	.book_title{display: none;}
	.book_body{display: none;}
	.favorites{display: none;}
	.favorites_comment{display: none;}
}

@media screen and (max-width: 414px) {
	.display1{display: block;}
	.display2{display: none;}
	.display3{display: none;}
    .display4{display: none;}
	.book_comment{
		display: block;
		width: 100px;
		height: 150px;
		overflow: hidden;
	}
}

@media screen and (max-width: 320px) {
	.display3{font-size: 10px;}
	.display4{font-size: 10px;}
}

@media screen and (max-width: 767px) {
	.user_info{display: none;}
	.user_info_books{display: none;}
}

table, th {
    border-bottom: 0.1px solid ;
}
table {
    border-collapse: collapse;
}