/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/
@import 'font-awesome-sprockets';
@import 'font-awesome';

header .navbar-header h2 {
	color:white;
}

body {
	a:link {color:black; text-decoration:none }
	a:visited { color:black; text-decoration:none }
	a:hover { color:rgb(255, 136, 0); text-decoration:none }
}

.opinion {
	word-break: break-all;
	width: 40%;
}

.book_comment {
	word-break: break-all;
	width: 40%;
}

.user_books_opinion {
	word-break: break-all;
	width: 40%;
}

.actions {
	margin-top:10px;
}

.tab li {
	margin: 0 10px -1px 0;
	padding: 10px 20px;
	list-style: none;
	transition: .3s;
}
.tab li.active {
	color:white;
	// background: white;
	cursor: auto;
}

input[type="password"] {
	width: 280px;
	height: 30px;
}

input[type="email"] {
	width: 280px;
	height: 30px;
}

#navbar li {
	background-color: transparent; /* default value */
}

#navbar li.selected {
	background-color:rgb(40, 43, 44);
}

.main-visual {
    width: 100%;
    height: 350px;
	background-size:cover;
	background-position: center left;
	background-image: image-url("header5.png");
	position: relative;
}

.form {
	position: absolute;
	top: 50%;
	left: 80%;
	font-size: 20px;
	color:black;
}

// kaminari
/*ページネーション自体のデザイン*/
.pagination>li>a {
	border: none;     /*枠線をなくす*/
	color: #696969;   /*文字の色を変える*/
  }

  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
	background: #0c8af1;     /*背景の色を変える*/
	border-radius: 15px;     /*角を丸くする*/
  }

  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
	border-radius: 15px;    /*角を丸くする*/
  }

img.attachment.book.image {
	object-fit: contain;
	width: 100px;
	height: auto;
}

img.attachment.user.profile_image {
	object-fit: contain;
	width: 80px;
	height: 80px;
}

img.attachment.user.profile_image.profile {
	object-fit: contain;
	width: 250px;
	height: 250px;
}

// @import"jquery.bxslider";
